




  {% for product in collections.all.products %}

   <script>console.log({{ product | json }});</script>


	
	<div class="card_product-container">
        <div class="card_product-header">
           <h2>{{ product.title }}</h2>
        </div>
      	<div class="card_product-body">
           <img srcset="//cdn.shopify.com/s/files/1/0597/0044/5384/{{product.featured_image}}" src="{{product.featured_image}}" alt="">
        </div>

        <div class="card_product-description">
           <h3> Descripción</h3>
					 <span>{{ product.description }}</span>
        </div>

        <div class="card_product-option">
				{% if product.has_only_default_variant %}
  
  				<input name="id" value="{{ variant.id }}" type="hidden">
      
				{% else %}
  				<select name="id">
    		{% for variant in product.variants %}
      		<option value="{{ variant.option1 }}">{{ variant.id }}- {{variant.option1}}</option>
    		{% endfor%}
  				</select>
  		
  				<select name="id">
    		{% for variant in product.variants %}
      		<option value="{{ variant.option2 }}">{{ variant.id }}- {{variant.option2}}</option>
    		{% endfor%}
  			</select>
				{% endif %}
      	</div>
				<div class="card_product-add">
					<button type="button" name="bntAdd">Add</button>
				</div>
      
      
	
	
	</div>

  	
  
  {%endfor%}
