




  {% for product in collections.all.products %}

   <script>console.log({{ product | json }});</script>


	
	<div class="card_product-container">
        <div class="card_product-header">
           <h2>{{ product.title }}</h2>
        </div>
      	<div class="card_product-body">
           <img srcset="//cdn.shopify.com/s/files/1/0597/0044/5384/{{product.featured_image}}" src="{{product.featured_image}}" alt="">
        </div>

        <div class="card_product-description">
           <h3> Descripción</h3>
					 <span>{{ product.description }}</span>
        </div>

        <div class="card_product-option">
				{% if product.has_only_default_variant %}
  
  				<input name="id" value="{{ variant.id }}" type="hidden">
      
				{% else %}
  				<select name="option1">
    		{% for variant in product.variants %}
      		<option value="{{ variant.option1 }}">{{variant.option1}}</option>
    		{% endfor%}
  				</select>
  		
  				<select name="option2">
    		{% for variant in product.variants %}
      		<option value="{{ variant.option2 }}"> {{variant.option2}}</option>
    		{% endfor%}
  			</select>

				{% endif %}

      	</div>
				<div class="card_product-add">
					<button type="button" name="bntAdd" class="add-cart" id="btnAdd" data-id="{{product.id}}">Add</button>
				</div>
      
      
	
	
	</div>

  	
  
  {%endfor%}




	{% javascript %}
  
  const btnAdd = document.querySelector("#btnAdd");
  btnAdd.addEventListener('click', addProduct);
  

function addProduct(e){
  e.preventDefault();

    
  if(e.target.classList.contains('add-cart')){
      //buscamos todo lo q tiene donde se hizo clic
      const product = e.target.parentElement.parentElement;

      //envianos a oytra funcion donde sacamos cada dato
      readDateSelected(product);
  }
}

//sacamos los datos del segmentos en objeto
function readDateSelected(product){
  console.log(product);
    
    const newProduct = {
        title       : product.querySelector('h2').textContent,
        image       : product.querySelector('img').src,
        description : product.querySelector('span').textContent,

        //precio : product.querySelector('.precio span').textContent,
        //id     : product.querySelector('a').getAttribute('data-id')
    }

    console.log(newProduct);
    //agregamos al carrito
    //addCarrito(newProduct);

}

//agregando al carrito
function addCarrito(newProduct){

    //const row = document.createElement('tr');
    

    //row.innerHTML = `<td>
    //                <img src="${infoCurso.imagen}" width="100">
       //             </td>
        //            <td>
         //           ${infoCurso.titulo}
          //          </td>
           //         <td>
            //        ${infoCurso.precio}
             //       </td>
              //      <td>
               //     <a src"#" class="borrar-curso" data-id="${infoCurso.id}">
                //    X</a>
                 //   </td>`


    //listCarrito.appendChild(row);

    //addLocalStorage(infoCurso);

}

	{% endjavascript %}

