




  {% for product in collections.all.products %}

   <script>console.log({{ product | json }});</script>
	
	<div class="card_product-container">
        <div class="card_product-header">
           <h2>{{ product.title }}</h2>
        </div>
      	<div class="card_product-body">
           {{product.featured_image}}
        </div>

        <div class="card_product-description">
           <h3>{{ product.description }}</h3>
        </div>

        <div class="card_product-option">
			{% if product.has_only_default_variant %}
  
  		<input name="id" value="{{ variant.id }}" type="hidden">
      
		{% else %}
  			<select name="id">
    	{% for variant in product.variants %}
      		<option value="{{ variant.option1 }}">{{ variant.option1 }}</option>
    	{% endfor%}
  			</select>
  		
  			<select name="id">
    	{% for variant in product.variants %}
      		<option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
    	{% endfor%}
  			</select>
	{% endif %}
      	</div>
      
      
	
	
	</div>

  	
  
  {%endfor%}
