




  {% for product in collections.all.products %}

   <script>console.log({{ product | json }});</script>


	
	<div class="card_product-container">
        <div class="card_product-header">
           <h2>{{ product.title }}</h2>
        </div>
      	<div class="card_product-body">
           <img srcset="//cdn.shopify.com/s/files/1/0597/0044/5384/{{product.featured_image}}" src="{{product.featured_image}}" alt="">
        </div>

        <div class="card_product-description">
           <h3> Descripción</h3>
					 <span>{{ product.description }}</span>
        </div>

        <div class="card_product-option">
				{% if product.has_only_default_variant %}
  
  				<input name="id" value="{{ variant.id }}" type="hidden">
      
				{% else %}
  				<select name="id">
    		{% for variant in product.variants %}
      		<option value="{{ variant.option1 }}">{{ variant.id }}- {{variant.option1}}</option>
    		{% endfor%}
  				</select>
  		
  				<select name="id">
    		{% for variant in product.variants %}
      		<option value="{{ variant.option2 }}">{{ variant.id }}- {{variant.option2}}</option>
    		{% endfor%}
  			</select>
				{% endif %}

      	</div>
				<div class="card_product-add">
					<button type="button" name="bntAdd" id="bntAdd" data-id="{{product.id}}">Add</button>
				</div>
      
      
	
	
	</div>

  	
  
  {%endfor%}




	{% javascript %}

function addProduct(e){
    e.preventDefault();
    if(e.target.classList.contains('agregar-carrito')){
        //buscamos todo lo q tiene donde se hizo clic
        const product = e.target.parentElement.parentElement;
        //envianos a oytra funcion donde sacamos cada dato
        readDateSelected(product);

        
    }
}

//sacamos los datos del segmentos en objeto
function readDateSelected(product){
    
    const newProduct = {
        imagen : product.querySelector('img').src,
        titulo : product.querySelector('h4').textContent,
        precio : product.querySelector('.precio span').textContent,
        id     : product.querySelector('a').getAttribute('data-id')
    }
    //agregamos al carrito
    addCarrito(newProduct);

}

//agregando al carrito
function addCarrito(newProduct){

    //const row = document.createElement('tr');
    

    //row.innerHTML = `<td>
    //                <img src="${infoCurso.imagen}" width="100">
       //             </td>
        //            <td>
         //           ${infoCurso.titulo}
          //          </td>
           //         <td>
            //        ${infoCurso.precio}
             //       </td>
              //      <td>
               //     <a src"#" class="borrar-curso" data-id="${infoCurso.id}">
                //    X</a>
                 //   </td>`


    //listCarrito.appendChild(row);

    //addLocalStorage(infoCurso);

}

	{% endjavascript %}