{{ 'slider-product.css' | asset_url | stylesheet_tag }}

<script src="{{ 'splidejs.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'splide-sea-green.min.css' | asset_url }}" media="print" onload="this.media='all'">
    <h1>{{settings.message}}</h1>
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
      {% for product in collections.all.products %}
      
          <li class="splide__slide">
            <img srcset="{{product.metafields.image.value }}" alt="" class="slide-image">

          <div class="slider_details">
            <div class="slider_details-title">
                <h1>{{product.metafields.titulo.value }}</h1>
            </div>
            <p>
              {{product.metafields.descripcion.value }}
            </p>
          </div>
          </li>
      {% endfor% %}
        </ul>
      </div>
    </div>

<script>
 
  document.addEventListener( 'DOMContentLoaded', function () {
		new Splide( '.splide' ).mount();
	} );

  </script>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "spaced-section collection-grid-section",
  "settings": [
    {
      "type": "text",
      "id": "message",
      "label": "Message",
      "default": "Hello!"
    }
  ]
}
{% endschema %}
